html {
  background: linear-gradient(to top, #030303 0%, #0a0a0a 100%);
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}

header {
  color: white;
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

.d-flex {
  display: flex;
}

.input-text {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  color:  #0a0a0a;
  width: 220px;
  height: 60px;
  font-size: 25px;
  font-weight: bold;
}


.addSection {
  margin: 0 10px;
  padding: 12px;
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 120px;
  font-weight: 500;
  font-size: 15px;
}

.deleteSection {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 25px;
}

.deleteSection:hover {
  opacity: 0.8;
  cursor: pointer;
}

.section {
  margin: 0 5px auto;
  position: relative;
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  width: 290px;
  background-color: #0c0c0ca6;
  border-radius: 10px;
  padding: 15px;
  border: solid rgb(97, 95, 95) 1px;
  color: rgb(253, 252, 252);
  vertical-align: top;
  overflow-y: hidden;
}

.section-title {
  font-size: 25px;
  font-weight: bold;
}
.task {
  background-color: rgb(7, 8, 8);
  border-radius: 10px;
  color:aliceblue;
  width: 240px;
  height: 120px;
}
.input-task{
  color :aliceblue;
  background-color:rgba(255, 255, 255, 0);
  font-size: 20px;
}
.delete-button {
  position: absolute;
  left: 195px;

}

.edit-button{
  position: absolute;
  top:42px;
  left:153px;
}
.content {
  font-size: 20px;
}